*~
*.class

/core/*/target/*
/core/*/.settings/
/core/*/.classpath
/core/*/.project

/eclipse/*/target/*
/eclipse/*/.settings/
/eclipse/*/.classpath
/eclipse/*/.project

/shell/*/target/*
/shell/*/.settings/
/shell/*/.classpath
/shell/*/.project

javapyler.cfg

