<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.openpowersystem.com/dss"
            class="electrickery.DSSPackage"
            genModel="model/DSS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.openpowersystem.com/dss/common"
            class="electrickery.common.CommonPackage"
            genModel="model/DSS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.openpowersystem.com/dss/control"
            class="electrickery.control.ControlPackage"
            genModel="model/DSS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.openpowersystem.com/dss/conversion"
            class="electrickery.conversion.ConversionPackage"
            genModel="model/DSS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.openpowersystem.com/dss/delivery"
            class="electrickery.delivery.DeliveryPackage"
            genModel="model/DSS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.openpowersystem.com/dss/executive"
            class="electrickery.executive.ExecutivePackage"
            genModel="model/DSS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.openpowersystem.com/dss/general"
            class="electrickery.general.GeneralPackage"
            genModel="model/DSS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.openpowersystem.com/dss/meter"
            class="electrickery.meter.MeterPackage"
            genModel="model/DSS.genmodel"/>
   </extension>

</plugin>
