<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="com.ncond.dss.shell.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.ncond.dss.shell.DSSApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.ncond.dss.shell.application"
            name="DSS">
         <property
               name="appName"
               value="DSS">
         </property>
      </product>
   </extension>

</plugin>
