<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.electrickery.com/"
            class="electrickery.ElectrickeryPackage"
            genModel="model/Electrickery.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.electrickery.com/common"
            class="electrickery.common.CommonPackage"
            genModel="model/Electrickery.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.electrickery.com/control"
            class="electrickery.control.ControlPackage"
            genModel="model/Electrickery.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.electrickery.com/conversion"
            class="electrickery.conversion.ConversionPackage"
            genModel="model/Electrickery.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.electrickery.com/delivery"
            class="electrickery.delivery.DeliveryPackage"
            genModel="model/Electrickery.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.electrickery.com/executive"
            class="electrickery.executive.ExecutivePackage"
            genModel="model/Electrickery.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.electrickery.com/general"
            class="electrickery.general.GeneralPackage"
            genModel="model/Electrickery.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.electrickery.com/meter"
            class="electrickery.meter.MeterPackage"
            genModel="model/Electrickery.genmodel"/>
   </extension>

</plugin>
