<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.editors">
      <editor
            name="DSS Editor"
            extensions="dss"
            icon="icons/dss_file.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.ncond.dss.editor.DSSEditor"
            id="com.ncond.dss.editor.DSSEditor">
      </editor>
   </extension>

</plugin>
